.nav-link {
  font-family: var(--font-sf-mono);
  font-size: 13px;
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
}

#nav-item-number {
  font-size: 12px;
  cursor: pointer;
  color: var(--text-color-1);
}
#nav-item-value {
  cursor: pointer;
}
