.btn {
  font-family: var(--font-sf-mono);
  font-size: 13px;
  background: transparent;
  border: 1px solid var(--text-color-1);
  border-radius: 4px;
  color: var(--text-color-1);
  padding: 0.7rem 1rem;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
}

.btn:hover {
  box-shadow: 2px 2px 0 1px var(--text-color-1);
  transform: translate(-4px, -4px);
}
